.searchService {
  max-height: 576px;
  max-width: 100%;
  background-image: url('../../images/background-main.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.searchService__content {
  max-width: 608px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: left;
}

.searchService__title {
  font-family: 'Roboto-Slab';
  font-weight: 400;
  color: #fff;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 32px;
}

.searchService__text {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  max-width: 545px;
}

.searchForm {
  border: 1px solid #d1d2d6;
  display: flex;
  justify-content: space-between;
  border-radius: 100px;
  background-color: #fff;
  outline: none;
  height: 64px;
}

.searchForm__inputBar {
  font-weight: 400;
  border: none;
  border-radius: 100px;
  margin-left: 24px;
  width: 376px;
  height: 62px;
  vertical-align: middle;
  font-size: 16px;
  outline: none;
}

.searchForm__button {
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  width: 168px;
  height: 64px;
}

.searchForm__button:hover {
  cursor: pointer;
  background-color: #347EFF;
}

.searchForm__button:active {
  cursor: pointer;
  background-color: #2A65CC;
}

@media screen and (max-width: 768px) {
  .searchService__title {
    font-size: 36px;
    margin: 38px 0 0;
  }
  .searchService__content {
    max-width: 452px;
  }
  .searchForm__inputBar {
    width: 292px;
    height: 52px;
    margin-bottom: 48px;
  }
  .searchForm__button {
    width: 160px;
    height: 54px;
  }
  .searchForm {
    height: 54px;
  }
  .searchService__text {
    margin-bottom: 48px;
    margin-top: 16px;
  }
  .searchService {
    background-image: url('../../images/background-main-mini.png');
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 475px) {
  .searchService__content {
    padding-top: 56px;
  }
  .searchService__title {
    margin: 30px auto 0;
  }
  .searchService__text {
    margin: 16px auto 122px;
  }
  .searchForm {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: auto;
  }
  .searchForm__inputBar {
    width: 242px;
    border: 1px solid #d1d2d6;
    margin: 0 auto 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .searchForm__button {
    width: 288px;
    height: 56px;
    margin: 0 auto 32px;
  }
}