.card {
  max-width: 400px;
  max-height: 576px;
  position: relative;
}

.card__image {
  height: 272px;
  width: 400px;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card__info {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #1A1B22;
  background-color: white;
  height: 304px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card__date {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 20px auto 12px 24px;
}

.card__title {
  font-family: 'Roboto-Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 0 auto;
  width: 352px;
}

.card__text {
  font-size: 16px;
  line-height: 22px;
  margin: 16px auto auto;
  height: 88px;
  width: 352px;
}

.card__source {
  font-family: 'Roboto-Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B6BCBF;
  margin: auto auto 24px 24px;
}

.card__tag {
  background-color: #fff;
  padding: 0 12px;
  margin: 0;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: auto;
  height: 40px;
  left: 24px;
  top: 24px;
  text-align: center;
  display: inline-table;
  font-size: 14px;
}

.card__tag-name {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.card__save-button {
  background-image: url(../../images/save-mark.svg);
  background-size: auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
}

.card__save-button_saved {
  background-image: url(../../images/save-mark-saved.svg);
}

.card__save-button:hover {
  cursor: pointer;
  background-image: url('../../images/save-mark-hover.svg');
}

.card__save-button_isSaved {
  background-image: url('../../images/save-mark-saved.jpg');
}

.card__delete-button {
  background-image: url(../../images/trash-icon.svg);
  background-size: auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 24px;
}

.card__info-window {
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  width: 182px;
  height: 40px;
  right: 69px;
  top: 24px;
  font-size: 10px;
  text-align: center;
  display: none;
}

.card__info-window_true {
  display: inline;
}

.card__info-window-title {
  margin: 15px auto;
  line-height: 1em;
}

.card__info-window-title_isTrue {
  display: inline;
}

@media screen and (max-width: 1250px) {
  .card__image {
    width: 224px;
    height: 150px;
  }
  .card__title {
    width: 192px;
  }
  .card__text {
    width: 192px;
  }
  .card__date {
    font-size: 18px;
  }
  .card__title {
    font-size: 22px;
  }
  .card__save-button {
    right: 8px;
    top: 8px;
  }
  .card__delete-button {
    right: 8px;
    top: 8px;
  }
  .card__tag {
    left: 8px;
    top: 8px;
  }
}