.popup {
  display: flex;
  background :rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup__close-button {
  background-image: url(../../images/close-button.svg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  outline: none;
}

@media screen and (max-width: 513px) {
  .popup__close-button {
      right: 0;
  }
}

.popup__close-button:hover {
  opacity: .4;
}

.popup__container {
  position: fixed;
  width: 430px;
  max-height: 457px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
}

.popup__save-button {
  font-weight: 500;
  width: 360px;
  height: 64px;
  background-color: #2F71E5;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin: 8px auto 16px;
}

@media screen and (max-width: 450px) {
  .popup__save-button {
      max-width: 288px;
      margin: 0 25px;
  }
}

.popup__save-button:hover {
  opacity: .8;
}

.popup_open {
  transition: visibility 0.5s linear, opacity 0.7s linear;
  opacity: 1;
  visibility: visible;
}

.popup__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #545454;
  width: 356px;
  padding-bottom: 10px;
  margin: 0 auto 16px;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .popup__input {
      max-width: 288px;
      margin: 0 auto 23px;
      justify-content: center;
  }
}

.popup__input_invalid {
  border-bottom-color: red;
}

.popup__input-error {
  padding-left: 36px;
  font-size: 12px;
  color: red;
}

.popup__save-button_block {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border-radius: 2px;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  margin: 34px auto 32px 36px;
  width: auto;
  text-align: left;
  color: #1A1B22;
}

.popup__message {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto 28px;
}

.popup__redirect {
  font-family: 'Inter';
  font-weight: 700;
  color: #2F71E5;
}

.popup__input-title {
  font-family: 'Inter';
  font-weight: 400;
  color: #2F71E5;
  font-size: 12px;
  margin: 0 auto 8px 0;
}

@media screen and (max-width: 450px) {
  .popup__container {
    width: 320px;
  }
  .popup__title {
    margin: 16px auto 22px 17px;
    width: auto;
  }
  .popup__input-title {
    margin: 0 auto 8px 16px;
  }
}
