.searchService {
  height: 576px;
  max-width: 100%;
  background-image: url('../../images/background-main.png');
  background-repeat: no-repeat;
}

.searchService__content {
  width: 608px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: left;
}

.searchService__title {
  color: #fff;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 32px;
}

.searchService__text {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  width: 545px;
  /* width возможно не нужно? проверить после всей верстки и импорта шрифтов */
}

.searchForm {
  border: 1px solid #d1d2d6;
  display: flex;
  justify-content: space-between;
  border-radius: 100px;
  background-color: #fff;
  outline: none;
  height: 64px;
}

.searchForm__inputBar {
  border: none;
  border-radius: 100px;
  margin-left: 24px;
  width: 376px;
  height: 62px;
  vertical-align: middle;
  font-size: 16px;
}

.searchForm__button {
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  width: 168px;
  height: 64px;
}