.about {
  display: flex;
  padding: 80px 216px 80px 104px;
}

.about__info {
  max-width: 600px;
  text-align: left;
  margin-left: 56px;
}

.about__title {
  font-family: 'Roboto-Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1082px) {
  .about {
    padding: 40px 40px 72px;
  }
  .about__photo {
    width: 232px;
    height: 232px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__info {
    margin-left: 32px;
  }
}

@media screen and (max-width: 708px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 80px;
  }
  .about__photo {
    margin: 0 auto;
  }
}