.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.header__logo {
  background-image: url('../../images/NewsExplorer.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 200px;
  margin-left: 104px;
}