.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 80px;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.header__alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  max-width: 1440px;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.header__logo {
  background-image: url('../../images/NewsExplorer.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 200px;
  margin-left: 104px;
}

.header__logo_alternative {
  background-image: url('../../images/NewsExplorer-black.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 200px;
  margin-left: 104px;
}

.header__burger-button {
  background-image: url('../../images/burger-menu.svg');
  background-color: transparent;
  border: none;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  visibility: hidden;
}

.header__burger-button {
  background-image: url('../../images/burger-menu-alt.svg');
}

.header_background {
  background-color: #1A1B22;
}

@media screen and (max-width: 795px) {
  .header {
    height: 56px;
  }
  .header__burger-button {
    visibility: visible;
  }
  .header__burger-button_close {
    background-image: url(../../images/close-but-header.svg);
  }
  .header__logo {
    margin-left: 16px;
  }
  .header__logo_alternative {
    margin-left: 16px;
  }
}